body {
    background-color: black;
    color: white;
}

.top-navbar .link-button {
    background-color: transparent;
    border: 2px solid #00C6FB;
    margin: 0px 3px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    color: white;
    font-weight: bold;
    padding: 2px 10px;
    margin-top: 10px;
}

.top-navbar .nav-link .notification-icon {
    width: 20px;
}

.top-navbar .nav-link .user-icon {
    width: 30px;
}

.top-navbar .navbar-brand img {
    width: 50px;
}

.top-navbar {
    padding: 20px 0px;
    background-color: #000000a6;
}

.after-heading-content {
    background: linear-gradient(#00000026, #00000047), linear-gradient(#00000052, #0000008f), url(../img/robot-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 15px;
    position: relative;
    background-position: center right;
}

.first-heading {
    font-size: 85px;
    color: #00C6FB;
}

.second-heading {
    font-size: 50px;
}

.third-heading {
    font-size: 48px;
}

.after-heading-content .content {
    font-size: 20px;
    margin: 50px 0px;

}

.after-heading-content .play-icon {
    color: #00C6FB;
    text-decoration: none;
    font-size: 20px;
}

.after-heading-content .play-icon img {
    width: 40px;
    margin-right: 5px;
}

.block-section {
    padding: 50px 15px;
    background: linear-gradient(#001216, #000000);
}

.block-section .box {
    border: 3px solid #00C6FB;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: #00C6FB;
    padding: 20px;
    text-align: center;
}

.block-section .inner-box {
    padding: 80px 0px;
    background-color: #6e6e6e7d;
    border-radius: 20px;
}

.block-section .box-col {
    padding: 0px 30px;
    margin-bottom: 20px;
}

.why-section {
    padding-top: 100px;
    text-align: center;
}

.why-section .why-heading {
    font-size: 50px;
    margin-bottom: 10px;
}


.why-section .why-heading span {
    color: #00C6FB;
}

.why-section .why-content {
    font-size: 20px;
    color: #525151;
    margin-bottom: 70px;
}

.why-section .top-content {
    max-width: 750px;

}

.why-section .box {
    padding: 50px 15px;
    background-color: #131212;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-bottom: 20px;
}

.why-section .box img {
    width: 70px;
    margin-bottom: 70px;
    margin-top: 20px;
}

.why-section .box p {
    font-size: 20px;
    max-width: 220px;
    margin: auto;
}

.how-section {
    padding: 100px 15px;
    text-align: center;
}

.how-section .how-small-heading {
    font-size: 30px;
    margin-bottom: 10px;
}

.how-section .how-big-heading {
    font-size: 50px;
    margin-bottom: 10px;
}

.how-section .how-big-heading span {
    color: #00C6FB;
}

.how-section .how-content {
    font-size: 20px;
    color: #525151;
    margin-bottom: 60px;
}

.request-a-demo-btn {
    background-color: #00C6FB;
    border: 2px solid #00C6FB;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    color: black;
    font-weight: bold;
    padding: 5px 20px;
    font-size: 20px;
    text-decoration: none;
}

.request-a-demo-btn:hover {
    background-color: #00C6FB;
    border: 2px solid #00C6FB;
}

.question-section {
    padding: 100px 15px;
    text-align: center;
}

.question-section .heading {
    font-size: 50px;
    margin-bottom: 10px;
}

.question-section .text {
    font-size: 20px;
    color: #525151;
    margin-bottom: 60px;
}

.question-accordion .accordion-button {
    background-color: transparent;
    color: white;
    padding-left: 0;
    padding-right: 0;
    font-size: 30px;
}

.question-accordion .accordion-button:focus {
    box-shadow: none;
}

.question-accordion .accordion-item {
    background-color: transparent;
    color: white;
    border-color: #00C6FB;
    text-align: left;
}

.question-accordion .accordion-body {

    padding-left: 0px;
    padding-right: 0px;
}

.question-accordion.accordion-flush .accordion-item:last-child {
    border-bottom: 1px solid #00C6FB !important;
}

.question-accordion .accordion-button::after {
    content: '+';
    background-image: none;
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
}

.accordion-button:not(.collapsed)::after {
    content: '-';
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
}

.footer-icon-section .social-link {
    color: white;
    margin-right: 10px;
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}

.footer-logo-section p {
    margin-bottom: 5px;
}

.footer-logo-section a {
    color: white;
    text-decoration: none;
}

.footer-logo-section .powered-by {
    color: #525151;
    display: block;
}

.footer-logo-section .powered-by a {
    color: #525151;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .top-navbar .link-button {
        width: max-content;
    }
}